<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--<meta property="og:title" content="SCPI - The first marketplace for SCPI">
  <meta property="og:image" content="<%image_url("facebook_card.jpg")%>">
  <meta property="og:description" content="SCPI allows you to sell and buy SCPI shares shares on the secondary market, avoiding the high fees management companies dictate you.">
  <meta property="og:site_name" content="SCPI"/>
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@SCPI">
  <meta name="twitter:title" content="SCPI - The first marketplace for SCPI">
  <meta name="twitter:description" content="SCPI allows you to sell and buy SCPI shares shares on the secondary market, avoiding the high fees management companies dictate you.">
  <meta name="twitter:creator" content="@anthonyflr">
  <meta name="twitter:image:src" content="facebook-card.jpg">-->
  <title>TODO</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <div>
    <%= render 'shared/flashes' %>

    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4" >
      <%= yield %>
    </div>

  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
